* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #a8a8a8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins';font-size: 22px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #9452c9;
}

#circle {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation: fade-in 3s;
    -webkit-animation: fade-in 3s;
    -moz-animation: fade-in 3s;
    -o-animation: fade-in 3s;
}

#Dylan {
    animation: slide-right 2s ease;
    -webkit-animation: slide-right 2s ease;
    -moz-animation: slide-right 2s ease;
    -o-animation: slide-right 2s ease;
}

#Gonzales {
    animation: slide-left 2s ease;
    -webkit-animation: slide-right 2s ease;
    -moz-animation: slide-right 2s ease;
    -o-animation: slide-right 2s ease;
}

#dg {
    animation: slide-up 2s ease;
    -webkit-animation: slide-up 2s ease;
    -moz-animation: slide-up 2s ease;
    -o-animation: slide-up 2s ease;
}

/* KEYFRAMES FOR FADE IN ANIMATION */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* KEYFRAMES FOR SLIDE RIGHT ANIMATION */
@keyframes slide-right {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0px);
    }
}

@-webkit-keyframes slide-right {
    from {
        -webkit-transform: translateX(-500px);
    }
    to {
        -webkit-transform: translateX(0px);
    }
}

@-moz-keyframes slide-right {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0px);
    }
}

@-o-keyframes slide-right {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0px);
    }
}

/* KEYFRAMES FOR SLIDE LEFT ANIMATION */
@keyframes slide-left {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0px);
    }
}

@-webkit-keyframes slide-left {
    from {
        -webkit-transform: translateX(500px);
    }
    to {
        -webkit-transform: translateX(0px);
    }
}

@-moz-keyframes slide-left {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0px);
    }
}

@-o-keyframes slide-left {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0px);
    }
}

/* KEYFRAMES FOR SLIDE UP ANIMATION */
@keyframes slide-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}

@-webkit-keyframes slide-up {
    from {
        -webkit-transform: translateY(100px);
    }
    to {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes slide-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}

@-o-keyframes slide-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}